<div class="nav">
    <h1>Zarąbista aplikacja</h1>

    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/news" routerLinkActive="active">News</a>
        </li>
        <li>
            <ng-template [ngIf]="role === 'ADMIN'" [ngIfThen]="admin" [ngIfElse]="user">
            </ng-template>
        </li>
    </ul>
</div>

<ng-template #admin>
    <a routerLink="/news" routerLinkActive="active">Admin</a>
</ng-template>

<ng-template #user>
    <a routerLink="/news" routerLinkActive="active">User</a>
</ng-template>